html,
body,
#container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/*this is important to give the map a height*/
#map {
  width: auto;
  height: 100%;
}

#navbar {
  margin: auto;
}

#guess,
#rounds,
#score {
  color: white;
}

#flag {
  float: left;
  margin-right: 5px;
}

.previous-guess-icon {
  height: 50px;
  width: 50px;
  background-color: #2a52be;
  border-radius: 50%;
  opacity: 25%;
  display: inline-block;
}
