html,
body,
#container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #222;
}

/*this is important to give the map a height*/
#map {
  width: auto;
  height: 100%;
}

#navbar {
  margin: auto;
  min-width: 375px;
  max-width: 800px;
}

.display-value {
  color: white;
}

.bonus {
  font-weight: bolder;
}

#flag {
  float: left;
  margin-right: 5px;
}

.previous-guess-icon {
  height: 10px;
  width: 10px;
  background-color: #ff8458;
  border-color: #000000;
  border-radius: 50%;
  opacity: 50%;
  display: inline-block;
  font-size: larger;
  font-weight: bolder;
}

.previous-answer-icon {
  height: 10px;
  width: 10px;
  background-color: #007ba7;
  border-color: #000000;
  border-radius: 50%;
  opacity: 50%;
  display: inline-block;
  font-size: larger;
  font-weight: bolder;
}

#start-end-game {
  width: 350px;
  color: #ffffff;
  margin-left: 5px;
}
